@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.dtable {
  display: table;
  width:100%;
  background-color: #ecf1f2;
  padding: 20px;
  border: 1px ;
  padding: 20px;
  text-align: center;
  margin: 0;
}


.table_1 {
  display: table;
  padding: 20px 0;
  margin: auto;
}


.table_2 {
  display: table;
  padding: 20px 0;
  float: bottom;
  margin: auto;
}



.table_a {
  display: table-cell;
  width: 100px;
  background-color: #fdc8b8;
  vertical-align: top;
  float: left;
  padding: 20px 20px;
}

.table_b {
  display: table-cell;
  width: 500px;
  background-color: #e0abd9;
  vertical-align: middle;
  float: left;
  padding: 20px 20px;
}

.table_c {
  display: table-cell;
  width: 100px;
  background-color: #b6d8ed;
  vertical-align: bottom;
  float: left;
  padding: 20px 20px;
}

.table_2 {
  margin-bottom: auto;
}

.table_d {
  display: table-cell;
  width: 100px;
  background-color: #e5d32e;
  vertical-align: top;
  float: left;
  padding: 20px 20px;
}

.table_e {
  display: table-cell;
  width: 100px;
  background-color: #ec8f9a;
  vertical-align: middle;
  float: left;
  padding: 20px 20px;
}
.table_f {
  display: table-cell;
  width: 500px;
  background-color: #8fdcad;
  vertical-align: bottom;
  float: left;
  padding: 20px 20px;
}