@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.dtable {
  display: table;
  background-color: #ecf1f2;
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


.table_top {
  display: table;
  margin: 0 auto;
  width: 100%;
}


.table_contens {
  display: table;
  margin-top: 20px;
  width: 100%;
}

.table_contens:first-child {
  margin-top: 0;
}

.table_cell {
  display: table-cell;
  padding: 20px 0px;
}

.table_orang {
  background-color: #fdc8b8;
  width: 100px;
}

.table_pink {
  background-color: #e0abd9;
}

.table_blue {
  background-color: #b6d8ed;
  width: 100px;
}


.table_yellow {
  background-color: #e5d32e;
}

.table_red {
  background-color: #ec8f9a;
}

.table_green {
  width: 500px;
  background-color: #8fdcad;
}