@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.q5 {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  margin: auto;
  z-index: 10;
}

.q5_box {
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
}

.q5_box_9 {
  top: 10px;
  left: 10px;
  position: fixed;
  background-color: #2b69a3;
}

.q5_box_1 {
  top: 40px;
  left: 200px;
  position: relative;
  background-color: #ffefd3;
  margin-right: 0;
}

.mini::before {
  bottom: 0px;
  left: 0px;
  background-color: #de70cf;
  position: absolute; 
  content: '';
  z-index: 8;
}

.q5_box_2 {
  top: 120px;
  left: 280px;
  position: absolute;
  z-index: 2;
  background-color: #7084de;
}

.q5_box_3 {
  top: 200px;
  left: 360px;
 background-color: #d0ecea;
 position: absolute;
 z-index: 3;
}

.q5_box_4 {
  top: 280px;
  left: 280px;
 background-color: #8b7a5e;
 position: absolute;
 z-index: 4;
}

.q5_box_5 {
  top: 360px;
  left: 200px;
  background-color: #9fd6d2;
  position: absolute;
  z-index: 5;
}

.q5_box_6 {
  top: 280px;
  left: 120px;
  background-color: #fffee4;
  position: absolute;
  z-index: 6;
}

.q5_box_7 {
  top: 200px;
  left: 40px;
  background-color: #deae70;
  position: absolute;
  z-index: 7;
}

.q5_box_8 {
  top: 120px;
  left: 120px;
  position: absolute;
  z-index: 1;
  background-color: #de70cf;
}

