@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
} 

.q3__contents {
  table-layout: fixed;
  border: 1px solid #dedede;
  width: 100%;
  text-align: center;
}

.q3__contents th {
  padding: 10px;
  color:white ;
  border: 1px solid #dedede;
  background: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

th:first-child {
  background: #2244aa;
}

.q3__contents td {
  border: 1px solid #dedede;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
}

.q3__tbody tr:last-child {
  border-color: #000;
  border-width: 2px;
  border-top-style: dashed;
}

.q3__tbody tr:nth-child(even) {
  background-color:#ecf1f2;
}



 
